Viral json
{
  "name": "Smartphone Short (Mute + 9:16) — Starter",
  "nodes": [
    {
      "parameters": {},
      "id": "ManualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [60, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "smartphone-short",
        "responseMode": "lastNode",
        "options": {
          "responseData": "allEntries"
        }
      },
      "id": "WebhookIn",
      "name": "Webhook (start & download)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [60, 80]
    },
    {
      "parameters": {
        "command": "bash",
        "arguments": "-lc \"set -e; mkdir -p /tmp/n8n/videos /tmp/n8n/work; yt-dlp -f mp4 -o '/tmp/n8n/videos/%(id)s.%(ext)s' 'ytsearch5:smartphone review unboxing -music -song -lyrics -reaction'; ls -1 /tmp/n8n/videos/*.mp4 | head -n 1\"",
        "options": {}
      },
      "id": "DownloadVideo",
      "name": "Download with yt-dlp",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 2,
      "position": [320, 80]
    },
    {
      "parameters": {
        "command": "bash",
        "arguments": "-lc \"set -e; IN=\\\"$(echo {{$json[\\\"stdout\\\"]}} | head -n1 | tr -d '\\r' )\\\"; OUT=/tmp/n8n/output.mp4; ffmpeg -y -i \\\"$IN\\\" -vf 'scale=1080:-2:flags=lanczos,pad=1080:1920:(1080-iw)/2:(1920-ih)/2:black' -an -c:v libx264 -preset veryfast -crf 23 \\\"$OUT\\\" >/tmp/n8n/ffmpeg.log 2>&1; echo \\\"$OUT\\\"\"",
        "options": {}
      },
      "id": "MakeVerticalMute",
      "name": "ffmpeg (9:16 + mute)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 2,
      "position": [590, 80]
    },
    {
      "parameters": {
        "filePath": "={{$json[\"stdout\"].trim()}}",
        "options": {}
      },
      "id": "ReadFinalFile",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [860, 80]
    },
    {
      "parameters": {
        "responseBody": "binary",
        "responseHeaders": {
          "entries": [
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=\"smartphone_short.mp4\""
            }
          ]
        },
        "binaryPropertyName": "data"
      },
      "id": "WebhookOut",
      "name": "Respond (download MP4)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 80]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "BinaryRename",
      "name": "Move Binary → data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [990, 80]
    }
  ],
  "connections": {
    "Webhook (start & download)": {
      "main": [
        [
          {
            "node": "Download with yt-dlp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download with yt-dlp": {
      "main": [
        [
          {
            "node": "ffmpeg (9:16 + mute)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ffmpeg (9:16 + mute)": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Move Binary → data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary → data": {
      "main": [
        [
          {
            "node": "Respond (download MP4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "staticData": {}
}
